* {
    padding: 0%;
    margin: 0%;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    box-sizing: border-box;
  }
  
  .mainContanir {
    height: 400px;
    width: 800px;
    background-color: rgb(245, 242, 242);
    border: 1px solid rgb(237, 227, 227);
    box-shadow: 2px 5px 9px rgb(211, 210, 210);
    position: relative;
    overflow: scroll;
  }
  
  .mainContanir h2 {
    font-size: 30px;
    text-align: center;
    margin: 25px;
  }
  
  .inpDiv {
    display: flex;
    margin: 20px;
    justify-content: center;
  }
  
  .inpDiv input {
    margin-right: 5px;
    width: 50%;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    padding: 5px;
  }
  
  .inpDiv input:focus {
    background-color: rgb(217, 217, 221);
    outline: none;
  }
  
  .addbtn {
    border-radius: 10px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    background-color: rgb(175, 175, 192);
    color: white;
    cursor: pointer;
  }
  
  .addbtn:focus {
    background-color: rgb(87, 87, 229);
  }
  
  .showWorks {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .showWorks p {
    padding: 10px;
    border-bottom: 1px solid rgb(205, 187, 187);
  }
  
  .showWorks .deleteIcon {
    position: absolute;
    left: 82%;
    cursor: pointer;
  }